@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <img style="  max-width: 85%;" src="https://instascaler.com/wp-content/uploads/2019/03/horizontal-layout.png" alt="Italian Trulli">
    </div>


<div class="container">
    <partial name="_CompaignForm" />
</div>

<div class="row">
    <div class="col-12">
        <ul class="nav nav-pills nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#chart" role="tab" aria-controls="home" aria-selected="true">Compaign Chart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#compaign" role="tab" aria-controls="profile" aria-selected="false">Compaign List</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active pt-5 pb-5" id="chart" role="tabpanel" aria-labelledby="home-tab">
            </div>
            <div class="tab-pane fade pt-5 pb-5" id="compaign" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table id="myTable" class="m-0 w-100"></table>

                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts  {
<script type="text/javascript" src="https://cdn-main1.123formbuilder.com//modules/Typescript/Form/vendor/JQuery/jquery-3.2.1.js.minified.js?v1.7.1"></script>

<script type="text/javascript" src="https://cdn-main2.123formbuilder.com//modules/captainform/js/iframe_resizer/3.6/iframeResizer.contentWindow.min.js.minified.js?v1.7.1"></script>

<script type="text/javascript" src="https://www.123formbuilder.com//libraries/perfect-scrollbar/js/perfect-scrollbar.jquery.js.minified.js?v1.7.1"></script>

<script type="text/javascript" src="https://cdn-main1.123formbuilder.com//modules/Typescript/Form/build.js.minified.js?v1.7.1"></script>

<script type="text/javascript" src="~/lib/apexcharts-bundle/dist/apexcharts.min.js"></script>
<script>
    function callChart() {
        $.ajax({
            type: "POST",
            url: "/home/ChartJson",
            success: function (result) {
              //  console.log(result);
                var options = {
                    chart: {
                        id: 'chart1',
                        height: 350,
                        type: 'bar',
                    },
                    plotOptions: {
                        bar: {
                            horizontal: false,
                            columnWidth: '55%',
                            endingShape: 'rounded'
                        },
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        show: true,
                        width: 2,
                        colors: ['transparent']
                    },
                    series: result["series"],
                    xaxis: {
                        categories: result["countries"],
                    },
                    yaxis: {
                        title: {
                            text: '$ (thousands)'
                        }
                    },
                    fill: {
                        opacity: 1

                    },
                    tooltip: {
                        y: {
                            formatter: function (val) {
                                return "$ " + val + " thousands"
                            }
                        }
                    }
                }

                var chart = new ApexCharts(
                    document.querySelector("#chart"),
                    options
                );

                chart.render();


                ApexCharts.exec('chart1', "updateOptions", {
                    xaxis: {
                        categories: result["countries"]
                    }
                });
                chart.updateOptions([{
                    series: result["series"]
                }])
                chart.updateOptions([{
                    xaxis: {
                        categories: result["countries"]
                    }
                }])
            }
        });

        function toggleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            }
            else {
                e.dataSeries.visible = true;
            }
            chart.render();
        }
    }


    //$('#myTable').DataTable().ajax.reload();
    $(document).ready(function () {
        callChart();
        RunTable('#myTable');

        $("#form").submit(function (e) {
            if ($(this).valid()) {
                $(form).find("button").attr("disabled", true); //disable button 
                e.preventDefault(); // avoid to execute the actual submit of the form. //refresh
                var form = $(this);
                var url = form.attr('action');
                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(), // serializes the form's elements.
                    success: function (data) {
                        $(form).find("button").attr("disabled", false);
                        if (data == "success") {
                            callChart();
                            $('#myTable').DataTable().ajax.reload();
                            $(form).find("#success").removeClass("d-none");
                            $(form).find("#danger").addClass("d-none");
                            $(form).find("#exist").addClass("d-none");

                        } else if (data == "exist") {
                            $(form).find("#success").addClass("d-none");
                            $(form).find("#danger").addClass("d-none");
                            $(form).find("#exist").removeClass("d-none");

                        }
                        else {
                            $(form).find("#success").addClass("d-none");
                            $(form).find("#exist").addClass("d-none");
                            $(form).find("#danger").removeClass("d-none");
                        }
                    }
                });
            }
            else {
                return false;
            }
        });


    });
    function removeCompaign($this) {
        var $Id = $this.id;
        var url = "/home/deleteCompaign/" + $Id;
        $.ajax({
            type: "POST",
            url: url,
            success: function (data) {
                if (data == "success") {
                    callChart();
                    $('#myTable').DataTable().ajax.reload();
                }
            }
        });
    }

    function RunTable($elem) {
        result = [];
        $($elem).DataTable({
            processing: true,
            serverSide: true,
            searching: false,
            ajax:
            {
                "url": "/Home/Compaign",
                "type": "POST",

            },
            columns: [
                {
                    name: 'name',
                    data: 'name',
                    title: "Name",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'budget',
                    data: 'budget',
                    title: "Budget",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'goal',
                    data: 'goal',
                    title: "Goal",
                    sortable: true,
                    searchable: true
                },

                {
                    name: 'country',
                    data: 'country',
                    title: "Country",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'category',
                    data: 'category',
                    title: "Category",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'id',
                    data: 'id',
                    render: function (data, type, JsonResultRow, meta) {
                        var html = '<a id="' + JsonResultRow['id'] + '" class="btn  btn-info btn-sm" onclick="removeCompaign(this)" ><i class="fas fa-trash-alt" style="color: red;font-size: 28px;"></i> Delete </a>';
                        return html;
                    },
                    title: "Options",
                    sortable: true,
                    searchable: true
                },
            ]
        });


    }
</script>

}
